.main{
    top:3.063em;
    margin-left:10.625em;
    margin-right: 10.625em;
    font-family: $primary-font-family;
    p{
        color: $theme-color;
        font-size: $heading-font;
        font-weight: 700;
    }
}