.search-input{
    position: relative;
    input{
        height: 5vh;
        width: 30vw;
        top: 152px;
        border-radius: 5px;
        border-color: $theme-color;
        outline: $theme-color;
        border-style: solid;
        padding-left: 8vh;
    }
    .search-icon{
        position: absolute;
        left:1vh;
        top: 1vh;
    }
}